* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: #201e1f;
  color: #b5b5b5;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  line-height: 1.5;
  text-align: center;
  padding: 2rem;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

.logo {
  width: 35rem;
  height: 35rem;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 1.4rem;
  }

  .logo {
    width: 20rem;
    height: 20rem;
  }

  h1 {
    font-size: 2.4rem;
  }

  .footer p {
    font-size: 1.2rem;
  }
}
